.ig {
    width: 16px;
    height: 16px;
}
.about_number {
    width: 255px;
    height: 110;
}
.logo {
    width: 218px;
    height: 40px;
}
.plusone {
    width: 260px;
    height: 120px;
}
.service_number {
    width: 195px;
    height: 155px;
}
img.sevice {
    width: 260px;
    height: 330px;
}
.cpm_profile {
    width: 217px;
    height: 38px;
}
.scroll {
    width: 17px;
    height: 116px;
}
.jour_number {
    width: 181px;
    height: 154px;
}
.access_number {
    width: 210px;
    height: 140px;
}
.ig_b {
    width: 36px;
    height: 35px;
}
.ig_mb {
    width: 22px;
    height: 22px;
}
.logo_footer {
    width: 299px;
    height: 137px;
}
.pointer {
    width: 57px;
    height: 56px;
}
.pointer_mb {
    width: 57px;
    height: 32px;
}
.architecture, .inspection, .tiny_house {
    width: 203px;
    height: 41px;
}
.service_1, .service_2, .service_3 {
    width: 320px;
    height: 250px;
}
.t_4mind {
    width: 130px;
    height: 90px;
}
.footer_profile {
    width: 94px;
    height: 26px;
}
.close_over {
    width: 28px;
    height: 20px;
}
.logo_mobile {
    width: 39px;
    height: 39px;
}
.phone {
    width: 26px;
    height: 26px;
}