body {
    position: relative;
    height: 100%;
    font-family: 'Roboto', serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 35px;
    height: 10px;
}

.overlay .logo-mobile {
    position: absolute;
    top: 25px;
    left: 35px;
}

.parallax-bg {
    background-attachment: fixed;
}

.masthead {
    background-image: url('../images/bg_top.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: top center;
}

.fixed-top {
    background-image: url('../images/bg_top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}
#navbarResponsive{
    font-size: 14px;
    font-family: 'Noto Sans', serif;
}
.header-title {
    font-size: 32px;
    font-family: 'Roboto', serif;
}

.section-2 {
    height: 35vh;
    background-image: url('../images/bg_top.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    background-position: bottom;
}

.section-2-1 {
    background-image: url('../images/bg-section2.png');
    background-size: contain;
    background-repeat: repeat-y;
}

.section2-thumb {
    background-image: url('../images/sv_01.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3-thumb {
    background-image: url('../images/sv_02.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section4-thumb {
    background-image: url('../images/sv_03.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 {
    height: 50vh;
    background-image: url('../images/bg_mid_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section4 {
    height: 50vh;
    background-image: url('../images/bg_mid_03.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.section4-title {
    background-color: #828282;
}

.section4-content {
    background-color: #828282;
}

.contact-us {
    background-color: #828282;
    border: solid 2px #ccc;
    color: white;
}

.footer {
    background-color: #808a98;
}

.section5 {
    height: 80vh;
    background-image: url('../images/bg_mid_04.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.subtitle{
    font-family: 'Noto Sans', serif;
    font-size: 16px;
}
.subtitle-content{
    font-family: 'Swarabi', serif;
    font-size: 20px;
}
.content-section{
    font-family: 'Swarabi', serif;
    font-size: 13px;
}
.content-access{
    font-family: 'Swarabi', serif;
    font-size: 14px;
}
.title-image{
    font-family: 'Swarabi', serif;
    font-size: 18px;
}
.content-image{
    font-family: 'Gothic', serif;
    font-size: 12px;
}
.title-footer{
    font-size: 24px;
    color: #162D43;
}
.subtitle-footer{
    font-size: 18px;
    font-family: 'Noto Sans', serif;
}
.footer-contact{
    font-size: 12px;
    font-family: 'Noto Sans', serif;
}
.navbar-brand {
    max-width: 80%;
    overflow: hidden;
}
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
#scroll{
    display: none;
}
.bg-service {
    background-image: url('../images/bg-service.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px;
}
@media (min-width: 768px) {
    .contact-us {
        background-color: #686868;
    }
    .header-title {
        font-size: 64px;
    }
    .section-2 {
        height: 41vh;
        background-image: url('../images/section_2.png');
        opacity: 1;
        background-position: center;
    }
    .section4-content {
        background-color: #686868;
    }

    .section-2-1 {
        background-image: url('../images/bg-section2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .subtitle-content{
        font-size: 22px;
    }
    .content-section{
        font-size: 14px;
    }
    .subtitle-footer{
        font-size: 24px;
    }
    .footer-contact{
        font-size: 14px;
    }
    .masthead {
        background-image: url('../images/bg_top_des.png');
    }
    .title-image{
        font-size: 24px;
    }
}
